<div class="bg-white w-full">
  <div class="container flex mx-auto justify-between">
    <h2 class="text-3xl font-semibold my-auto">Shopixo</h2>
    <ul
      class="flex justify-between items-center gap-5 sm:gap-8 md:gap-20 font-medium py-5"
    >
      <li class="hover:underline hover:underline-offset-2">
        <a href="">Home</a>
      </li>
      <li class="hover:underline hover:underline-offset-2">
        <a href="">Product</a>
      </li>
      <li class="hover:underline hover:underline-offset-2">
        <a href="">Contact</a>
      </li>
      <li class="hover:underline hover:underline-offset-2">
        <a href="">About Us</a>
      </li>
    </ul>
  </div>
</div>
